body {
    background-color: antiquewhite;
    padding: 2rem;
}

.heading {
    background-color: rgb(224, 230, 202);
    padding: 2rem;
}

.site-footer {
    text-align: center;
}


/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}